<!DOCTYPE html>
<html lang="en">

<head>
       <!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-KVKNTR87D5"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-KVKNTR87D5');
</script>
    
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DOOM Slayer</title>
    <link rel="stylesheet" href="css/style.css">
</head>

<body>
    
    <nav class="container" style="display: flex;">
      
        <img src="./img/gun2.svg" alt="Logo of Doom Slayers double barrel shotgun" width="105"> 
   
        <h1>
             SLAYER
        </h1>
        
        <div class="nav-container">
        <li class=""><a href="/">Home</a></li>
        <li class=""><a href="#Contact">Contact</a></li>
        <li class=""><a href="#About">About</a></li>
    </ul>

    </nav>
    <main class="container" style="display: flex;
    flex-direction: row-reverse;">
        <figure>
            <div class="box-shadow">
            <img src="./img/doom_slayer_and_daisy_by_xous54_dawq4gs-pre.jpg" alt="Portrait of Doom Slayer and his pet rabbit Daisy" width="1500" > 
        </div>
        </figure>
        <section>
            <h2>
                DOOM Slayer
            </h2>
            <p>
                Doomguy, Doom Marine, John kane, Blazkowicz
            </p>
            <p>
                The slayer of all demons, Volunteer worker, Master of weapons
                and Master of martial arts
            </p>
            <h2>
                PROFESSIONAL EXPERIENCE
            </h2>
            <h3>
                2020
                Doom Eternal
            </h3>

            <ul>
                <li>Murderer of demons and savior of humanity, self-employed, Earth, Mars and Hell</li>
                <li>Murderer of demons</li>
                <li>Savior of humanity</li>
                <li>Dark lord killer</li>
                <li>Hole in mars maker</li>
            </ul>

            <h3>
              2016 Doom (2016)
            </h3>
            <ul>
                <li>Employed by Dr.Hayden, Earth, Mars and Hell</li>
                <li>Rescuing research facility</li>
                <li>Savior of humanity</li>
                <li>Spider mastermind killer</li>
                <li>Helper of Dr.Hayden</li>
            </ul>
            <h3>
                1997 Doom 64
            </h3>
            <ul>
                <li>Employed by the marine, Hell</li>
                <li>Murder of demons</li>
                <li>Killer of Mother Demon</li>
            </ul>
            <h3>
                1994
                Doom II: Hell On Earth
            </h3>
            <ul>
                <li>Employed by the marines, Earth and hell</li>
                <li>Savior of humanity</li>
                <li>Killer of the Icon of Sin</li>
                <li>Destroyer of Hell portal</li>
            </ul>
            <h3>
                1993
                Doom
            </h3>
            <ul>
                <li>Employed by marine, Mars</li>
                <li>Rescuer of research facility</li>
                <li>Murder of demons</li>
            </ul>
            <h2 id="About">
                EDUCATION
            </h2>
            <P>Serving the marine before the demons invaded earth.</P>
            <h3>SKILLS</h3>
            <p>
                Transcendent Human Physiology, Immense Physical Condition, Immense Strength,
                Immense Durability, Immense Speed, Agility, and Reflexes, Immense Stamina and Endurance,
                Argent Energy Absorption, Destruction Empowerment, Powerup Usage,
                Rune Absorption and Usage, Advanced Intellect, Expert Combatant, Weapon Mastery,
                Indomitable Rage, Intimidation and Indomitable Will
            </p>
            <h2>LANGUAGES</h2>
            <p>English</p>
            <p>Blinded by his rage of demons, makes him only able to talk about “Kill them all”, “Big Guts” and “I
                Must Kill Them All” and so on.</p>
                <h2 id="Contact">
                    CONTACT INFORMATION
                </h2>
                <ul>
                    <li>Phone: 121-019-93</li>
                    <li>Email: Doom.Slayer@gmail.com</li>
                    <li>Twitter: @DOOM</li>
                    <li>Instagram @doom</li>
                </ul>
          
        </section>
    </body>
    </main>
    <footer class="container">

        <h2>REFERENCES</h2>
        <ul>
            <li>Dark Lord - Doom slayer look alike</li>
            <li>Dr. Hayden - Chairman of UAC</li>
            <li>VEGA - Artificial Intelligence</li>
        </ul>

<p>
        (This site will save data)
    </p>
    </footer>
</html>